body,
button {
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
}

#valence-chart-wrapper {
  margin-bottom: 1rem;
}

#song-card {
  margin: 1rem;
  border: 1px solid #99181F
}

#valence-chart:focus {
  outline: none;
}

.column.has-clickables-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* Spreads out vertically */
  align-items: center;  /* Centers horizontally */
}

.clickable {
  cursor: pointer;
}

.inherit-color {
  color: inherit;
}

@media screen and (min-width:769px) {
  .modal-card {
    width: 770px;
  }
}

/* Use modal without footer, because it causes 
 * missing spacing at body bottom on Firefox
 */
.modal-card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}